body {
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
}

/* PORTADA */
.portada-body {
    background: linear-gradient(135deg, #ff7e5f, #feb47b);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portada-container {
    color: white;
}

.titulo {
    font-size: 60px;
}

.subtitulo {
    font-size: 20px;
    margin-bottom: 30px;
}

/* BOTÓN */
.btn-principal {
    padding: 15px 30px;
    background-color: white;
    color: #ff7e5f;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
}

/* MENÚ */
.menu {
    background: linear-gradient(90deg, #ff7e5f, #feb47b);
    padding: 15px;
}

.menu a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

/* CONTENIDO */
h1 {
    color: #ff7e5f;
}

button {
    padding: 10px;
    margin: 10px;
    background-color: #ff7e5f;
    color: white;
    border: none;
    border-radius: 8px;
}

/* CHAT */
.chat-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 15px;
    border-radius: 50%;
    background-color: #ff7e5f;
    color: white;
    border: none;
}

.chatbox {
    display: none;
    position: fixed;
    bottom: 80px;
    right: 20px;
    width: 260px;
    background: white;
    border: 2px solid #ff7e5f;
    border-radius: 10px;
}

.chat-header {
    background: #ff7e5f;
    color: white;
    padding: 10px;
}

.chat-mensajes {
    height: 150px;
    overflow-y: auto;
    padding: 10px;
    text-align: left;
}
