/* GENERAL */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
}

/* PORTADA */
.portada-body {
    background: linear-gradient(135deg, #ff7e5f, #feb47b);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portada-container {
    color: white;
}

.titulo {
    font-size: 60px;
    margin-bottom: 10px;
}

.subtitulo {
    font-size: 20px;
    margin-bottom: 30px;
}

/* BOTÓN PRINCIPAL */
.btn-principal {
    padding: 15px 30px;
    background-color: white;
    color: #ff7e5f;
    text-decoration: none;
    font-size: 18px;
    border-radius: 10px;
    font-weight: bold;
}

.btn-principal:hover {
    background-color: #eee;
}

/* MENÚ */
.menu {
    background: linear-gradient(90deg, #ff7e5f, #feb47b);
    padding: 15px;
}

.menu a {
    color: white;
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
}

.menu a:hover {
    text-decoration: underline;
}

/* CONTENIDO */
h1 {
    color: #ff7e5f;
    margin-top: 30px;
}

h2 {
    color: #333;
}

p {
    font-size: 18px;
}

/* BOTONES EJERCICIOS */
button {
    padding: 10px 15px;
    margin: 10px;
    border: none;
    border-radius: 8px;
    background-color: #ff7e5f;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #e5674f;
}

/* RESULTADO */
#resultado {
    font-weight: bold;
    margin-top: 15px;
}

/* CHATBOT */

/* BOTÓN CHAT */
.chat-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 15px;
    border-radius: 50%;
    background-color: #ff7e5f;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

/* CAJA CHAT */
.chatbox {
    display: none;
    position: fixed;
    bottom: 80px;
    right: 20px;
    width: 260px;
    background: white;
    border: 2px solid #ff7e5f;
    border-radius: 10px;
}

/* CABECERA CHAT */
.chat-header {
    background: #ff7e5f;
    color: white;
    padding: 10px;
    font-weight: bold;
}

.cerrar {
    float: right;
    cursor: pointer;
}

/* MENSAJES */
.chat-mensajes {
    height: 150px;
    overflow-y: auto;
    padding: 10px;
    text-align: left;
}

/* INPUT */
#chat-input {
    width: 70%;
    padding: 5px;
    margin: 5px;
}
