body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* PORTADA */
.portada-body {
    background: linear-gradient(135deg, #ff7e5f, #feb47b);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portada-container {
    text-align: center;
    color: white;
}

.titulo {
    font-size: 60px;
    margin-bottom: 10px;
}

.subtitulo {
    font-size: 20px;
    margin-bottom: 30px;
}

.btn-principal {
    padding: 15px 30px;
    background-color: white;
    color: #ff7e5f;
    text-decoration: none;
    font-size: 18px;
    border-radius: 10px;
    font-weight: bold;
}

.btn-principal:hover {
    background-color: #eee;
}

/* MENÚ DE PÁGINAS */
.menu {
    background-color: #222;
    padding: 15px;
    text-align: center;
}

.menu a {
    color: white;
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
}

.menu a:hover {
    color: #ff7e5f;
}
